@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f3faff;
}

.childrenHeight {
  height: calc(100vh - 80px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.wechatShadow {
  box-shadow: 0px 3.727px 3.727px 0px rgba(0, 0, 0, 0.25);
}

.fill-button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 500ms ease-in-out;
}

.fill-button::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: rgba(0, 0, 0);
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale(0, 0);
  transition: transform 500ms ease-in-out;
}

.fill-button:hover::before {
  transform: translate3d(-50%, -50%, 0) scale(15, 15);
}

.fill-button:hover {
  color: white;
}

.sideShadow {
  box-shadow: 1.8px 0px 27.1px rgba(0, 0, 0, 0.05);
}

.pointCol:hover .pointAction {
  display: block;
}
