@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgba(51, 0, 255, 0.4);
}

.childrenHeight{
  height: calc(100vh - 80px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.wechatShadow {
  box-shadow: 0px 3.727px 3.727px 0px rgba(0, 0, 0, 0.25);
}
